<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109427383125-aeeu2bkfa6mlpp54srbli00394jk73es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109427383125-aeeu2bkfa6mlpp54srbli00394jk73es</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>109427383125-0r6o7dm3nl7da44q0c9hduu377n72fcb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-cTl-0fs4Op09sRcQKcdkTZi_Rb4dmLo</string>
	<key>GCM_SENDER_ID</key>
	<string>109427383125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eyecreality.indieimprints.flatlinecomics</string>
	<key>PROJECT_ID</key>
	<string>indieimprints</string>
	<key>STORAGE_BUCKET</key>
	<string>indieimprints.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109427383125:ios:b7a048eb3492bbda086ddc</string>
</dict>
</plist>